# compiled output
/dist
/node_modules

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-error.log*

# OS
.DS_Store

# tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
*.launch
/.settings

# environment variables
.env
.env.local

# prisma
/generated/prisma
